
{% if(is_granted('ROLE_ADMIN')) %}
    <a class="nav-link" href="{{ path('app_admin') }}">Users List & Roles</a> 
    <a class="nav-link" href="{{ path('app_admin_user_register') }}">Add New User</a> 
{% endif %}

<a class="nav-link" href={{ path("app_list_case") }}>List of Cases </a>


{% if(is_granted('ROLE_SPECIALIST') or  is_granted('ROLE_USER')) %}
    <a class="nav-link" href="{{ path('app_support_case') }}">Add Support Case</a> 
{% endif %}


{# {% 
    set token = csrf_token('logout')
    
%} #}
{# {% endif %}  #}


{% if(is_granted('ROLE_USER') or is_granted('ROLE_SPECIALIST')  or is_granted('ROLE_ADMIN')) %}
    <a class="nav-link" href="{{ path('security_logout', {'token' : csrf_token('logout')}) }}">Logout</a>

{% else %}
    <a class="nav-link" href="{{ path('security_login') }}">Login</a> 
    <a class="nav-link" href="{{ path('security_register') }}">Signup</a>

{% endif %} 



<style>
    .home nav-link { background: #F5F5F5; padding: 2px 6px;font-size:16px; }
</style>


